{% extends 'movies/base.html' %}

{% block title %}
{{title}}
{% endblock %}

<div class="container", style="display:flex, margin-top: 20px">
    {% block content %}
    <!--
        <h1 style="margin-top: 40px;">Головна сторінка</h1>
    -->
        {% for movie in movies %}
            <div class="alert alert-warning mt-2">
                <h3>
                    Фільм: {{movie.title}}
                </h3>
                <p>
                    Опис: {{movie.description}}
                </p>
                <p>
                    {{movie.year}}
                </p>
                <p>
                    {{movie.actors}}
                </p>
                <p>
                    {{movie.category}}
                </p>
                <p>
                    {{movie.rating}}
                </p>
            </div>
        {% endfor %}
    {% endblock %}
</div>
