{% extends 'movies/base.html' %}

{% block title %}
{{title}}
{% endblock %}

<div class="container" style="display:flex, margin-top: 20px">
    {% block content %}
    <!--
        <h1 style="margin-top: 40px;">Головна сторінка</h1>
    -->
        {% for movie in movies %}
            <div class="alert alert-warning mt-2">
                <h3>
                    Movie: {{movie.title}}
                </h3>
                <p>
                    {% load static %}
                    <img src="{% static movie.movie_poster %}"></p>
                <p>
                    Description: {{movie.description}}
                </p>
                <p>
                    Rating: {{movie.rating}}
                </p>
                <p>
                    Age: {{movie.year}}
                </p>
                <p>
                    Categories:
                    {% for category in movie.categories.all %}
                    {{category.name}}
                    {% endfor %}
                </p>
                <p>
                    Actors:
                   {% for actor in movie.actors.all %}
                    {{actor.first_name}} {{actor.last_name}}
                    {% endfor %}
                </p>
            </div>
        {% endfor %}
    {% endblock %}
</div>
