{% extends 'movies/base.html' %}
{% load static %}

{% block title %}
{{title}}
{% endblock %}


<div class="container" style="display:flex, margin-top: 20px">
    {% block content %}
    <!--
        <h1 style="margin-top: 40px;">Головна сторінка</h1>
    -->
        {% for movie in movies %}
            <div class="text-bg-secondary p-3">
                <h3>
                    <a href="{{ movie.get_absolute_url }}" text-decoration="none">{{movie.title}}</a>
                </h3>
                <p>
                    <img src="/static/images/{{movie.movie_poster}}" width="260" height="385"></p>
                <p>
                    Description: {{movie.description}}
                </p>
                <p>
                    Rating: {{movie.rating}}
                </p>
                <p>
                    Age: {{movie.year}}
                </p>
                <p>
                    Categories:
                    {% for category in movie.categories.all %}
                    {{category.name}}
                    {% endfor %}
                </p>
                <p>
                    Actors:
                   {% for actor in movie.actors.all %}
                    {{actor.first_name}} {{actor.last_name}}
                    {% endfor %}
                </p>
            </div>
        {% endfor %}
    {% endblock %}
</div>
