{% extends 'movies/base.html' %}

{% block title %}
Add movie
{% endblock %}

{% block content %}
<h1 xmlns="http://www.w3.org/1999/html">Add movie</h1>
<form method="post", enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.title }}<br>
    {{ form.movie_poster}}<br>
    {{ form.description }}<br>
    {{ form.rating }}<br>
    {{ form.year }}<br>
    {{ form.categories }}<br>
    {{ form.actors }}<br>
    {{ form.slug }}<br>
    <span>{{ error }}</span>


    <button type="submit", class="btn btn-success">Add movie</button>

    </button>


</form>
{% endblock %}
